.officers-banner-container {
  width: 100%;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.officers-banner-title {
  font-size: var(--title-font-size);
  margin-top: 80px;
  margin-bottom: 10px;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
