.home-banner-container {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  background-image: url('./../../../assets/SplashScreen.jpg');
}

.home-banner {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - var(--header-height));
}

.home-banner-text {
  margin: auto 0px;
  font-size: var(--title-font-size);
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.50) 15%, rgba(0,0,0,0.50) 85%, rgba(0,0,0,0) 100%);
  color: white
}
